body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:682px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u770 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u772 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u773 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u774 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u775 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u776 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u777 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u778 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u779 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u780 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u781 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u782 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u783 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u785 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u786 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u787 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u789 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u791 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u792 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u793 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u794 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u795 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u796 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u797 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u798 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u799 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u801 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u802 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u803 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u805 {
  position:absolute;
  left:147px;
  top:30px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u807 {
  position:absolute;
  left:532px;
  top:105px;
  width:150px;
  height:150px;
}
#u808 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:414px;
  top:368px;
  width:0px;
  height:0px;
}
#u809_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u809_seg1 {
  position:absolute;
  left:189px;
  top:-113px;
  width:8px;
  height:117px;
}
#u810 {
  position:absolute;
  left:103px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
