body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u1380 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1381 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1382 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1383 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1385 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1387 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u1388 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1389 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1391 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u1393 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1395 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1397 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1399 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u1401 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u1403 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1405 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1407 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1409 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1411 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1413 {
  position:absolute;
  left:374px;
  top:32px;
  width:30px;
  height:20px;
  color:#FFFFFF;
}
#u1414 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1415 {
  position:absolute;
  left:187px;
  top:29px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:695px;
  width:207px;
  height:41px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
}
#u1419 {
  position:absolute;
  left:207px;
  top:695px;
  width:207px;
  height:41px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
