body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u3983 {
  position:absolute;
  left:400px;
  top:100px;
  width:414px;
  height:736px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u3985 {
  position:absolute;
  left:400px;
  top:100px;
  width:414px;
  height:65px;
  color:#000000;
}
#u3986 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3987 {
  position:absolute;
  left:406px;
  top:106px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u3988 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3989 {
  position:absolute;
  left:413px;
  top:106px;
  width:6px;
  height:6px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3991 {
  position:absolute;
  left:420px;
  top:106px;
  width:6px;
  height:6px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3993 {
  position:absolute;
  left:427px;
  top:106px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u3994 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3995 {
  position:absolute;
  left:434px;
  top:106px;
  width:6px;
  height:6px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3997 {
  position:absolute;
  left:442px;
  top:102px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u3999 {
  position:absolute;
  left:496px;
  top:103px;
  width:15px;
  height:11px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4001 {
  position:absolute;
  left:583px;
  top:102px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4003 {
  position:absolute;
  left:608px;
  top:102px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4005 {
  position:absolute;
  left:725px;
  top:104px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u4006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u4007 {
  position:absolute;
  left:784px;
  top:104px;
  width:22px;
  height:10px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u4009 {
  position:absolute;
  left:709px;
  top:106px;
  width:5px;
  height:6px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4011 {
  position:absolute;
  left:739px;
  top:104px;
  width:10px;
  height:10px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4013 {
  position:absolute;
  left:755px;
  top:102px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4015 {
  position:absolute;
  left:567px;
  top:129px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u4018 {
  position:absolute;
  left:400px;
  top:126px;
  width:80px;
  height:37px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4020 {
  position:absolute;
  left:437px;
  top:133px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u4022 {
  position:absolute;
  left:418px;
  top:133px;
  width:12px;
  height:22px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
}
#u4024 {
  position:absolute;
  left:763px;
  top:127px;
  width:43px;
  height:28px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
