body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:436px;
  top:590px;
  width:414px;
  height:736px;
}
#u832 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 106, 26, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:436px;
  top:590px;
  width:414px;
  height:65px;
}
#u834 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u835 {
  position:absolute;
  left:442px;
  top:596px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u836 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u837 {
  position:absolute;
  left:449px;
  top:596px;
  width:6px;
  height:6px;
}
#u838 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u839 {
  position:absolute;
  left:456px;
  top:596px;
  width:6px;
  height:6px;
}
#u840 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u841 {
  position:absolute;
  left:463px;
  top:596px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u843 {
  position:absolute;
  left:470px;
  top:596px;
  width:6px;
  height:6px;
}
#u844 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:478px;
  top:592px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u847 {
  position:absolute;
  left:532px;
  top:593px;
  width:15px;
  height:11px;
}
#u848 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u849 {
  position:absolute;
  left:619px;
  top:592px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u851 {
  position:absolute;
  left:644px;
  top:592px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u853 {
  position:absolute;
  left:761px;
  top:594px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u854 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u855 {
  position:absolute;
  left:820px;
  top:594px;
  width:22px;
  height:10px;
}
#u856 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u857 {
  position:absolute;
  left:745px;
  top:596px;
  width:5px;
  height:6px;
}
#u858 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u859 {
  position:absolute;
  left:775px;
  top:594px;
  width:10px;
  height:10px;
}
#u860 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:791px;
  top:592px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
