body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2936 {
  position:absolute;
  left:499px;
  top:103px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2937 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u2938 {
  position:absolute;
  left:400px;
  top:100px;
  width:414px;
  height:736px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:59px;
}
#u2940 {
  position:absolute;
  left:400px;
  top:100px;
  width:414px;
  height:59px;
  color:#000000;
}
#u2941 {
  position:absolute;
  left:2px;
  top:22px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2942 {
  position:absolute;
  left:406px;
  top:106px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2944 {
  position:absolute;
  left:413px;
  top:106px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2945 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2946 {
  position:absolute;
  left:420px;
  top:106px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2947 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2948 {
  position:absolute;
  left:427px;
  top:106px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u2949 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2950 {
  position:absolute;
  left:434px;
  top:106px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2951 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2952 {
  position:absolute;
  left:442px;
  top:102px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u2954 {
  position:absolute;
  left:496px;
  top:103px;
  width:15px;
  height:11px;
  color:#FFFFFF;
}
#u2955 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2956 {
  position:absolute;
  left:583px;
  top:102px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2957 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2958 {
  position:absolute;
  left:608px;
  top:102px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2960 {
  position:absolute;
  left:725px;
  top:104px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u2962 {
  position:absolute;
  left:784px;
  top:104px;
  width:22px;
  height:10px;
  color:#FFFFFF;
}
#u2963 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u2964 {
  position:absolute;
  left:709px;
  top:106px;
  width:5px;
  height:6px;
  color:#FFFFFF;
}
#u2965 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2966 {
  position:absolute;
  left:739px;
  top:104px;
  width:10px;
  height:10px;
  color:#FFFFFF;
}
#u2967 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2968 {
  position:absolute;
  left:755px;
  top:102px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2970 {
  position:absolute;
  left:567px;
  top:128px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2971 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
